/* 
	blue: #1d4cba
	blue text: #5588ff 
	blue button: #1553da
*/
@font-face {
  font-family: Lato;
  src: url(../fonts/Lato-Regular.ttf);
  font-weight: normal;
}
@font-face {
  font-family: LatoBold;
  src: url(../fonts/Lato-Bold.ttf);
  font-weight: bold;
}

* {
	margin:0;
	padding:0;
	box-sizing:border-box;
}

body {
	font: 13px Lato, Helvetica, Arial;
	line-height: 1.5em;	
	color: #ddd;
	-webkit-font-smoothing: subpixel-antialiased;
	background: #111418;
}

a{
	color: #5cc2ff;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1b1e23;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #50607b;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#main{
	position: fixed;
	width: 100%;
	height: calc(100% - 30px);
	top:0;
	left:0;		
	margin-top: 30px;
	display: flex;
	background: #24282f;
}

	#topbar{
	    position: fixed;
	    top: 0;
	    left: 120px;
	    display: flex;
	    justify-content: flex-end;
	    width: calc(100% - 120px);	    
	    -webkit-app-region: drag;
	    -webkit-app-select: none;
        background: #111418;
	}
		
		#topbar .left,
		#topbar .middle,
		#topbar .right{
			display: flex;			
		}
		
		#topbar .status{
		    background-color: #848484;
		    margin: 10px 3px;
		    border-radius: 50%;
		    width: 10px;
		    height: 10px;
		    position: relative;
		}
		
		.socketlive #topbar .status{
			background-color: #1553da;	
		}
		
		#topbar #appVersion,
		#topbar #myusername{
			color: #6e7486;
			padding: 5px 10px;
			font-family: LatoBold;
		}
		
		
		
	.lmenu{
		position: relative;
		left:0;
		top:0;
		height: calc(100vh - 30px);
		width: 120px;
		background: #111418;
	    padding: 20px 10px;
	}
	
		.lmenu .tab{
			text-align: center;
			padding: 38px 10px 10px;
			margin: 17px 0;
			font-family: LatoBold;
			text-transform: uppercase;
			font-size: 11px;
			cursor: pointer;
			position: relative;
		}
		
		.lmenu .tab .status,
		.lmenu .tab .count{
			font-size: 9px;
			position: absolute;
			top: 0;
			right: 0;			
			padding: 1px 5px;
		    line-height: 1.5em;
			border-radius: 50%;
			background: #333;
		}
		
		.lmenu .tab .count:empty{
			display: none;
		}
		
		.lmenu .tab .status{
			width: 12px;
			height: 12px;
		}
		
		.lmenu .tab .status.active{						
			background: #1d4cba;
		}		
		
		.lmenu .tab .status.active:before{
			content:'';						
			position: absolute;
			top: 50%;
			left: 50%;
			width: 12px;
			height: 12px;
		    margin: -6px 0 0 -6px;			
			border-radius: 50%;
			background: #1d4cba;
			opacity: 0.5;
			animation: pulse 1s ease-in-out 5 alternate;
	        -webkit-animation: pulse 1s ease-in-out 5 alternate;
		}
		
		@keyframes pulse {
	        0% {
	            transform: scale(1.0);
	            -webkit-transform: scale(1.0);
	        }
	        100% {
	            transform: scale(2.0);
	            -webkit-transform: scale(2.0);
	        }
	    }
	    
	    .tab.battleroom{
		    opacity: 0.5;
	    }
	    
	    .inbattleroom .tab.battleroom{
		    opacity: 1;
	    }
	
	#videocontainer{
		position: absolute;	
		min-width: 100%;
		min-height: 100vh;
		z-index: -1;
	}
	
		#videocontainer:after{
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			background: rgba(0,0,0,0.6);
		}		
			
	#bademovideo {
	  position: absolute;	  
	  top: 0px;
	  left: -10px;
	  min-width: 100%;
	  min-height: 100vh;
	  z-index: -1;
	  overflow: hidden;
	}

	.container{
		position: relative;
		width: 100%;		
		height: 100%;
		top:0;
		left: 0;		
		display: none;	
	}
	
		.container.active{
			display: block;	
		}
	
	.container .title{
	    position: fixed;
	    height: 30px;
	    top: 0;
        left: 120px;
	    width: calc(100% - 120px);
	    text-align: center;
	    text-transform: uppercase;
	    font-family: LatoBold;
	    color: #aaa;
	    font-size: 0.9em;
	    padding: 0.4em;
	    pointer-events: none;
	}
	
	.container .account{
		position: relative;
		width: 100%;
		height: 100%;
	    overflow: auto;
	}
	
		.center-win{						
			position: absolute;
			top: 49.9%;
			left: 49.9%;
			-webkit-transform: translate(-50.1%, -50.1%);
			transform: translate(-50.1%, -50.1%);
		}
		
		.account .pane{
			background: #32343b;
			padding: 30px;
			border-radius: 3px;
			display: none;
		}
		
			.account .pane.active{
				display: block;
			}
			
			.account .panetitle{
				text-align: center;
				font-size: 0.9em;
			}
		
		.account .line{
			margin-top:20px;
		}
		
		#loginmessage{
			color: red;
		}
		
			#loginmessage:empty{
				display: none;
			}
		
		.account .center{
			display: flex;
			justify-content: center;
		}					
		
		.account label{
			padding: 0.5em 0;
			color: #777;
		}
		
		.appicon{
			background: url(../icons/icon.png);
			background-size: cover;
		    width: 80px;
		    height: 80px;
		    margin: 20px;
		}
		
		.account .nav .btn{
			display: block;
			color: #999;
			text-align: center;
			padding: 1em;
			cursor: pointer;
		}
		
		.account .nav .btn.active{
			display: none;
		}
		
		#serverhosts{
			display: flex;
		}
		
			.serverhosturl{
				opacity: 0.5;	
				margin: 6px;
			}
			
			.serverhosturl.active{
				opacity: 1;	
			}				
			
			.sys-status{
				padding: 1em 1em 0em 2em;
				position: relative;	
			}
			
			.sys-status:empty{
				display: none;
			}
			
			.sys-status:before{
				content: '';
				position: absolute;
				top: 1.1em;
				left: 0;
				width: 15px;
				height: 15px;
				background: #bbbbbb;
				border-radius: 50%;
			}
			
			.sys-status.active:before{
				background: #1553da;
			}
				
		.additional-nav{
			padding: 1em;
		}
		
		.additional-nav button{
			margin: 1em;
		}
			
	.rcontainer{
		width: calc(45% - 120px);
		position: fixed;
		top: 30px;
		right: 0;
		display: none;
		height: calc(100% - 30px);
		background: #1d2229;
	}
		.rcontainer.active{
			display: block;	
		}
	
	.text-scroll{
		width: 100%;
		height: 100%;
	    overflow-x: hidden;
		overflow: auto;
	    position: relative;
	}
	
	.text-scroll .messages{
		position: relative;
		width: 100%;
		bottom: 0;
		left: 0;
	    padding: 1em;
	}
	
	.userchat{
		height: 100%;
		margin-right: 130px;
	}
	
	.userchat .text-scroll{
		height: calc(100% - 100px);
	}
	
	.bottom-input {
		padding: 6px;
		position: absolute;
		bottom: 0;
		width: 100%;
		background: #212832;
	}
	
	#chats .bottom-input {
		width: calc(100% - 130px);
	}
	
	
	
#chatlist .split{
	display: flex;
    height: 100%;
}

#chatlist .split .left{
	width: 60%;
}

#chatlist .split .right{
	width: 36%;
	margin-left: 4%;
}

button {
    background: #1553da;
    border: none;
    padding: 1em 1.5em;
    color: #eee;
    border-radius: 25px;
    font-family: LatoBold;
    text-transform: uppercase;
    font-size: 12px;
    cursor: pointer;
	border: 1px solid #1553da;
}

button.command{
	text-transform: lowercase;
	font-size: 11px;
	border-radius: 3px;
	padding: 0.7em 1.2em;
	background: #202427;
	border: 1px solid #202427;
}	

button.gray{
	background: #4e5e80;
	border: 1px solid #4e5e80;
}	


input[type=password], 
input[type=text]{
	border: 1px solid #3b5fb3;
	padding: 10px 1.2em 10px 1.2em;
	width: 100%;
	margin-right: .5%;
	background: #11151a;
	color: #fff;	
	border-radius: 20px;
}

.battleroom_input{
	padding-right: 80px;	
}

button:focus,
input:focus {
    outline: none !important;
    border: 1px solid #004eff;
}

li{
	cursor:pointer;
}

ul.list {	
	list-style-type:none;
	margin:0;	
	padding:0;
	overflow: auto;
}

	.list li {
		padding: 0.25em 10px;
		display: flex;
		cursor: default;
	}
	
	.list li:nth-child(odd) {
		background: rgba(255,255,255,0.02);
	}



#battle-list li .passworded,
#battle-list li .maxPlayers,
#battle-list li .status{
	flex: 0.2;	
}

#battle-list li .gameName,
#battle-list li .title,
#battle-list li .map{
	flex: 0.7;
	max-width: none;
}

#chat-list li .name{
	flex: 0.4;
	max-width: none;
}
		
	#chat-list li .userID{
		flex: 0.2;
	}

	#chat-list li div{
		flex: 0.07;
		max-width: 32px;		
	}
	
	#chat-list li .lobbyID,
	#chat-list li .cpu{
		display: none;
	}

#battle-list li .engine,
#battle-list li .username{
	flex: 0.6;
}

#battle-list{
	display: flex;
	flex-wrap: wrap;	
	margin: 1%;
}

	#gamefilter{
		position: absolute;
		top: 20px;
		right: 20px;
	}
	
	.battle-card{
		width: 49.4%;
		margin: 0.3%;
		padding: 1%;
		background: #101113;		
		font-size: 12px;
		cursor: alias;
		position: relative;
	}
	
	
	.battle-card.activebattle:after,
	.battle-card:hover:after{		
		content: '';
		position: absolute;
		top:0;
		left: 0;
		width: 4px;
		height: 100%;
		background: #1d4cba;
	}
	
		.battle-card .meta{
			display: flex;
			justify-content: space-between;
			font-size: 11px;
			font-family: LatoBold;
			color: #ccc;
		}
		
/*
		.battle-card .meta .ip,
		.battle-card .meta .port,
		.battle-card .meta .maphash{
			display: none;
		}
*/
		
		.battle-card .header{
			display: flex;
		}
		
		.battle-card .minimap{
			width: 220px;
			height: 220px;
			background: #000;	
			position: relative;			
		}
		
		.battle-card .minimap:before{
			content: 'loading...';
			font-size: 10px;
			position: absolute;
			width: 30px;
			height: 30px;
			/* background: url(../svg/loading.svg); */
			top: 50%;
			left: 50%;
			background-size: cover;
			transform: translate3d(-50%, -50%, 0);
		}
		
		/* .battle-card .minimap:before svg path,
		.battle-card .minimap:before svg rect{
		  fill: #FF6700;
		} */
		
		.battle-card .minimap img{			
			position: relative;
			top: 50%;
			left: 50%;
			transform: translate3d(-50%,-50%,0);
			max-width: 220px;
			max-height: 220px;			
		}
		
		.battle-card .header .infos{
			flex: 1;
			max-width: calc(100% - 220px);
			padding-right: 1.5em;
		}
			
			.battle-card .battletitle{
				text-align: left;
				padding: 1em 0;
				font-family: LatoBold;
				font-size: 14px;
			}
								
			.battle-card .meta2{
				display: flex;
				justify-content: space-between;
				flex-wrap: wrap;
				color: #ccc;
				padding: 0;
			}
			
				.battle-card .meta2 div{
					width: 50%;
				}
		
		.battle-card .playerlist{
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;			
		    margin: -80px 0 0 0;
			padding: 0;
			color: #bbb;
			width: calc(100% - 220px);			
		}
		
			.battle-card .playerlist:empty{
			    display:none;
			}
		
			.battle-card .playerlist li{
				width: 50%;
				padding: 0.25em 0;
			}
			
			.battle-card .playerlist li:nth-child(odd){
				background: none;
			}
			
						
		#battle-right-info .title,
		#battleroom .battleid,
		#battleroom .port,
		#battleroom .maphash,
		#battleroom .hashCode,
		#battleroom .channelName,
		#battleroom .ip,
		.battle-card .battleid,
		.battle-card .port,
		.battle-card .maphash,
		.battle-card .ip,
		.battle-card .playerlist li .trueskill,
		.battle-card .playerlist li .country,
		.battle-card .playerlist li .userID,
		.battle-card .playerlist li .lobbyID,
		.battle-card .playerlist li .cpu,
		.battle-card .playerlist li .admin,
		.battle-card .playerlist li .away,			
		.battle-card .playerlist li .bot{
			display: none;
		}

#battleroom{
	position: relative;
	left: 0;	
}

	#battleroom .left{
	    position: relative;
		width: 	55%;
		height: 100%;
	}	
	
	#battleroom .minimaps{
		width: 100%;
	    height: 400px;
	    background: #000;
	    position: relative;
	    text-align: center;
	    margin: 0 auto;
	}
	
	#battle-metalmap,
	#battle-heightmap,
	#battle-minimap{
	    width: 100%;
	    height: 100%;
	    background: #000;
	    position: relative;	    
	}
				
		
		#battleroom .minimaps .startbox{
			position: absolute;
			background: rgba(255, 63, 63, 0.3);
			display: none;	
		}	
		
		#battleroom .minimaps .startbox.box1{
			background: rgba(63, 63, 255, 0.3);
		}
		
		#battleroom .minimaps .startbox.box0:before,
		#battleroom .minimaps .startbox.box1:before{
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate3d(-50%, -50%, 0);
			width: 20px;
			height: 20px;
			border-radius: 50%;
			background: #232332;
			font-size: 0.8em;						
		}
		
		#battleroom .minimaps .startbox.box0:before{
			content: '1';
		}
		#battleroom .minimaps .startbox.box1:before{
			content: '2';
		}
		
		
		#battleroom .minimaps .startpos{
			position: absolute;
			z-index: 1;
			font-size: 10px;			
			transform: translate3d(-50%,-50%,0);
			display: none;
		}
		
		#battleroom .minimaps .startpos:before{
			content: '';
			background: #111;
			width: 16px;
			height: 16px;
			border-radius: 50%;
			position:absolute;
			top: 50%;
			left: 50%;
			transform: translate3d(-50%,-50%,0);
			z-index: -1;
		}
		
		#battleroom .minimaps.choose_before > .startbox,
		#battleroom .minimaps.choose_ingame > .startbox,
		#battleroom .minimaps.random > .startpos,
		#battleroom .minimaps.fixed > .startpos{
			display: block;
		}				
	
		#battle-metalmap img,
		#battle-heightmap img,
		#battle-minimap img{
			height: 100%;
			width: 100%;
		}
	
	.othermaps{
		width: 100%;
	    height: 200px;
	    background: #000;
	    position: relative;
	    text-align: center;
		display: flex;
	}
	
	.othermaps .mapdiv{
		flex: 0.5;
		height: 100%;
		padding: 0.5em;
	}	
	
	.othermaps .mapdiv img{
		height: 100%;
		width: auto;
	    max-width: 100%;
	}
	
	.battle-main-info{
		width: 100%;
		padding: 1em;
		font-size: 13px;
	}
	
		.battle-main-info .meta{
			display: flex;
			justify-content: space-between;
			font-size: 12px;
			font-family: LatoBold;
			color: #ccc;
		}
		
		.battle-main-info .meta2{
			display: flex;
			justify-content: space-between;			
			color: #ccc;
			margin: 3px 0 0 0;
			flex-wrap: wrap;
		}
		
		.battle-main-info .meta2 div{
			width: 50%;
		}
		
		.engine-download,
		.game-download,
		.map-download{
			display: none;
			position: relative;
		}
		
		.engine-download{
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;	
		}
		
		.engine-download .download-title,
		.game-download .download-title,
		.map-download .download-title{
			padding: 1em 0;
		}
		
		.engine-download.downloading,
		.game-download.downloading,
		.map-download.downloading{
			display: block;
		}
		
		.engine-download .progress,
		.game-download .progress,
		.map-download .progress{
			position: absolute;
			content: '';
			top:0;
			left: 0;
			width: 0;
			height: 4px;
			background: #1d4cba;
			transition: width 1s;			
		}
		
		.engine-download .progress{
			top: inherit;
			bottom: 0;
		}
	
	.battle-players{
		display: flex;				
		height: calc(50vh - 75px);
		overflow: auto;
		position: relative;
		padding-top: 1.3em;
	}
	
		.battle-players .battle-speclist,
		.battle-players .battle-playerlist{
			width: 55%;
			display: flex;
		    flex-direction: column;
		}
			
			.teams .battle-playerlist .team-group{
				margin-top: 20px;
				position: relative;
				display: flex;
			    flex-direction: column;
			}
			
			.teams .battle-playerlist .team-group:before{
				content: attr(data-label);
			    position: absolute;
			    top: -16px;
			    left: 16px;
			    font-size: 9px;
			    background: #424e65;
			    border-radius: 3px;
			    padding: 0 4px;
			    letter-spacing: 0.1em;
			    line-height: 1.7em;
			}
			
			.battle-playerlist .team-group:empty{
				display: none;
			}
			
			.teams .battle-playerlist .ally{
				display: none;
			}	
		
		.battle-players .battle-speclist{
			width: 45%;
		}
		
		.battle-players li{
			justify-content: space-between;
			position: relative;
		    padding: 0.1em 1em;		    
		}
			.battle-players .battle-playerlist{
				border-bottom: 1px solid #303440;	
			}
			
				.battle-players .battle-playerlist li{
					padding: 0.1em 1em 0.1em 2em;		    		
				}			
			
			.battle-players li:nth-child(odd) {
				background: none;
			}
		
			#battleroom[data-battlesize="big"] .battle-players li{
				font-size: 12px;
				line-height: 1.2em;
			}
			
			#battleroom[data-battlesize="verybig"] .battle-players li{
				font-size: 11.5px;
				line-height: 1.1em;
			}
			
			#battleroom[data-battlesize="huge"] .battle-players li{
				font-size: 11px;
				line-height: 1em;
			}
		
		.battle-players li .name{
		    position: relative;
		    top: 2px;	
		}
		
		.battle-playerlist li div{
			flex: 0.059;
		}
		
		.battle-playerlist li .name{
			flex: 0.35;	
		}
		
		.battle-speclist li div{
			flex: 0.083;
		}
		
		.battle-speclist li .name{
			flex: 0.5;	
		}
		
		.battle-players li .team{
			flex: 0.05;
		}
		
		.battle-players li .trueskill{
			position: relative;
		}
		
		.battle-players li .trueskill:before{
			content: 'TS';
			position: absolute;
		    top: -1em;
		    left: -1.3em;
		    font-size: 7px;			
		}
		
		.battle-players li .ally{
			position: relative;
		}
		
		.battle-players li .trueskill,
		.battle-players li .ally,
		.battle-players li .team{
			font-size: 11px;
		}
		
		.battle-players li .ally:before{
			content: '';
			position: absolute;
		    top: -0.1em;
		    left: -0.5em;
			border-radius: 50%;
			z-index: -1;
			width: 18px;
			height: 18px;
		}
		
		.battle-players li .ally.ally-1:before,
		.battle-players li .ally.ally-3:before,
		.battle-players li .ally.ally-5:before,
		.battle-players li .ally.ally-7:before,
		.battle-players li .ally.ally-9:before,
		.battle-players li .ally.ally-11:before,
		.battle-players li .ally.ally-13:before,
		.battle-players li .ally.ally-15:before,
		.battle-players li .ally.ally-17:before{
		    background: #5f647e;
	    }
	    
	    .battle-players li .ally.ally-2:before,
	    .battle-players li .ally.ally-4:before,
	    .battle-players li .ally.ally-6:before,
	    .battle-players li .ally.ally-8:before,
	    .battle-players li .ally.ally-10:before,
	    .battle-players li .ally.ally-12:before,
	    .battle-players li .ally.ally-14:before,
	    .battle-players li .ally.ally-16:before,
	    .battle-players li .ally.ally-18:before{
		    background: #2e54ab;
	    }
	    
	    
	    .battle-players li .color{
		    width: 18px;
		    height: 18px;
		    border-radius: 20px;
	        flex: inherit;
	        border: 2px solid #4a5173;
	    }
		
/*
		.battle-players li .ally:empty{
			
		}
*/
		
		
		.battle-players li .country,
		.battle-players li .admin{
			display: none;
		}
		
		.battle-players .battle-speclist li .color,
		.battle-players .battle-speclist li .ally,
		.battle-players .battle-speclist li .team,
		.battle-players .battle-speclist li .bonus,
		.battle-players .battle-speclist li .faction{
			display: none;
		}
		
		.battle-players .userwin{
			display: none;
			position: absolute;
			top: 30px;
			left: 20px;
			background: #12171d;
			border-radius: 6px;
			padding: 1em;
			z-index: 9;
		}
		
			.battle-players .userwin.active{
				display: block;
			}
			
			.battle-players .userwin .title{
				font-size: 12px;
			}
			
			.userwin .usercommands{
				display: flex;
			    margin: 0 0 1em 0;
			    justify-content: center;
			}
			
				.userwin .usercommand{
					padding: 4px 6px;
					border-radius: 15px;
					margin: 0 5px;
					cursor: pointer;
					background: #434851;
					font-size: 12px;
				}
		
	#battlelabels{
		position: absolute;
		top: 0;
		left: 0; 
		padding: 5px;
	}
		#battlelabels .labels:empty{
		    display:none;
		}
	
		#battlelabels .labels{
		    background: #1553da;
		    padding: 0.1em 0.6em;
		    border-radius: 3px;
		    font-size: 10px;
		    font-family: LatoBold;
		    display: inline-block;
		    margin: 0 0 0 10px;
		}
		
	
	#battleroom .text-scroll {
		width: 100%;
    	height: 50vh;
	    background: #1b1e23;
	    
	}
	
	.pickmapclose-btn,
	.pickmap-btn{
		position: absolute;
		bottom: 1em;
		right: 1em;
		font-size: 11px;
		border-radius: 3px;
		padding: 0.7em 1.2em;
		background: #202427;
		cursor: pointer;
		z-index: 99;
	}
	
	.pickmap-btn{
		display: none;
	}
	
	.pickmapclose-btn{
		position: fixed;	
		bottom: inherit;
		top: 4em;		
	}
	
	.minimaps:hover > .pickmap-btn{
		display: block;
	}
	.scroll.mappicker{
		display: none;	
		background: #111;
		position: absolute;
		z-index: 99;
		top:0;
		left: 0;
		width: 100%;
		padding-top: 1em;
	}				
	
		.mappicker.active{
			display: block;
		}
		
		.scroll.mappicker .filters{
			padding: 0.5em;
		}
		
		.scroll.mappicker .filters .line{
			display: flex;
		}
		
		.scroll.mappicker .filters .filter{
			text-transform: uppercase;
			margin: 0.3em;
			font-size: 10px;
			border-radius: 3px;
			padding: 0.7em 1.2em;
			background: #202427;
			cursor: pointer;
		}
		
		.scroll.mappicker .filters .filter.active{
			background: #5588ff;
		}
		
		.mappicker .mapscontainer{
			display: none;
			flex-wrap: wrap;					
		}
		
			.mappicker .mapscontainer.active{
				display: flex;
			}
		
		.mappicker .map{
			width: 23%;
			margin: 1%;
			background: #202427;
			cursor: pointer;		 
			position: relative;
			text-align: center;
		}
		
		.mappicker .map:before{
			content: attr(data-mapname);
			position: relative;
			background: #202427;
			padding: 0.4em 0.5em;
			width: 100%;			
			font-size: 10px;			
			top: 0;			
		}
		/* .mappicker .map:hover:after{
			display: block;
		} */
		
		.mappicker .map .icon-star{
			position: absolute;
			top: 1px;
			left: 1px;
			z-index: 9;
			opacity: 0.5;
			font-size: 15px;
		}
		
		.mappicker .map .icon-star.active{			
			opacity: 1;
			color: #5588ff;
		}
		
		.mappicker .map .select,
		.mappicker .map .delete{
			position: absolute;
			z-index: 9;
			right: 0.5em;
			font-size: 10px;
			border-radius: 23px;
			padding: 0.2em 1em;
			background: #202427;
			border: 1px solid #3689de;
			display: none;
		}
		
		.mappicker .map:hover > .select,
		.mappicker .map:hover > .delete{
			display: block;
		}
		
		.mappicker .map .select{
			bottom: 0.5em;
		}
		
		.mappicker .map .delete{
			top: 3.5em;			
		}
		
		.mappicker .map img{
			margin:0 auto;
			display: block;
			width: 100%;
		}
		
		#voteformap:empty{
			display: none;
		}
		
		#voteformap img{
			width: 100px;
			height: 100px;
		}
				
/*
	#hostmessages .text-scroll{
		height: calc(100vh - 340px);
	}
*/
		
		#battlechatoptions{
			position: absolute;
		    top: calc(50vh + -67px);
		    right: 6px;
		    color: #ccc;
		    font-size: 12px;
		    z-index: 8;	
			background: #111;
			padding: 10px;
			border-radius: 20px;			
		}
		
		#battlechatoptions .option{
			display: none;
		}
		
		#battlechatoptions:hover > .option{
			display: inline-block;
		}
		
		#battlechatoptions:hover > .label{
			display: none;
		}
		
		#votewin{
	        position: absolute;
		    top: calc(50vh + -67px);
		    right: 6px;
		    color: #ccc;
		    max-width: 300px;
		    z-index: 9;
		    background: #6737b3;
		    padding: 1em 1em 0 1em;
		    border-radius: 10px;
		    text-align: center;
			display: none;
		}
		
			#votewin.active{
				display: block;
			}	
		
		.votes{			
			font-size: 20px;
			display: flex;
			justify-content: center;
		}
		
			.votes.active{
				display: flex;
			}
		
			.votes .vote{
			    background: #000;
			    border-radius: 25px;
			    padding: 2px 0px 2px 13px;
			    margin: 9px 3px;
			    font-size: 0.9em;
			}
			
			.votes .vote:hover{
				background: #1553da;
			}
			
			.votes .icon-thumbs-up-2:before{
				position: relative;
				top: 3px;
			    left: -4px;
			}
			.votes .icon-thumbs-down-2:before{
				position: relative;
				top: 4px;
			    left: -4px;
			}
	select {
	    background: #202427;
	    color: #fff;
	    border: 2px solid #4a5173;
	    padding: 6px 10px 6px 10px;
    	border-radius: 20px;
	}
	
	select:active,
	select:focus{
		border: none;
	}
	
	label.pickteam,
	label.pickally{
		color: #aaa;
	}
	
	.scroll{
	    position: relative;
	    height: 100%;
	    overflow: scroll;
	}		
	
	.battle-actions{		
	    position: absolute;
	    bottom: 0;
	    right: 0;
	    width: 100%;		
	    background: #131519;
	    padding: 0.5em 2em 2em 2em;
	    font-size: 12px;
		z-index: 999;
	}
	
		.battle-actions .line{
			display: flex;
			justify-content: space-between;
		    align-items: center;
		    height: 50px;
		}
		
		.ui-label{
			font-size: 11px;
			text-transform: uppercase;
			color: #889;		
		}
		
		.battle-players .ui-label{
			text-align: center;
		}
						
		
		.icon.pickcore,
		.icon.pickarm{
			cursor: pointer;
			filter: grayscale(50%);
			opacity: 0.5;
	        top: 0px;
		    border: 2px solid #4a5173;
		    padding: 6px 10px 6px 30px;
		    border-radius: 20px;
		}
		
		.icon.pickcore.active,
		.icon.pickarm.active{
			filter: grayscale(0);
			opacity: 1;
		}
		
		.icon.pickcore:before,
		.icon.pickarm:before{
	        position: absolute;
		    top: 5px;
		    left: 8px;
		    font-size: 1.1em;
		}
		
		.colorpicked{
			background-color: #5588ff;
			width: 25px;
			height: 25px;
			border-radius: 50%;
			position: relative;
			margin-right: 50px;
		    border: 2px solid #4a5173;
		    cursor: pointer;
		}
		
		.colorpicked .colorpicker{
			position: absolute;
			display: none;		
			top: 0;
			left: 0;
		    transform: translate3d(-50%, -105%, 0);
		}
		
		.colorpicked .colorpicker.active{
			display: block;
		}
		
		.colorpicked .label{
		    position: absolute;
		    left: 28px;
		    color: #999;
		    top: 2px;
		}
		
		
		

	#main .pretty.p-switch.p-fill input:checked~.state:before {
	    border-color: #1553da;
	    background-color: #1553da!important;
	}
	
	
	
	#battle-right-info{
		width: 45%;
		position: absolute;
		right: 0;
		top: 0;
		height: 100%;
		background: #111418;
		overflow: auto;
		padding: 1em 0.5em 1em 1em;
	}
	
	.smallnav{
		margin-top: 5px;
		display: flex;
	}
	
	.smallnav .navbtn{
	    font-size: 11px;
	    text-transform: uppercase;
	    color: #889;	
	    margin-right: 5px;
	    padding: 2px 5px;
	    background: #1b1e23;
	    cursor: pointer;
	}
	
	.smallnav .navbtn.active{
		color: #1d4cba;
		background: #0b0d0f;
	}
	
	.smalltab{
		display: none;
	}
	
	.smalltab.active{
		display: block;
	}
	
	#battleoptions{
		background: #191d24;
	    padding: 1em;
	}
	
	
	#battle-right-info .option{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		color: #777;	
	}
	
		#battle-right-info .option .name,
		#battle-right-info .option .val{
			width: 50%;
		}	
	
span.upper{
	position: relative;
	top: -0.5em;
	margin: 0 0.3em; 	
	font-size: 0.7em;
	opacity: 0.5;
}

#channel-list{
	display: flex;
	flex-direction: column-reverse;	
}
	
	#channel-list li{
		cursor: alias;
	}
	
	#channel-list li .status{
		position: relative;
	}
	
	#channel-list li .status.active:before{
		content: '';
		position: absolute;
		top: 4px;
		left: 5px;
		width: 15px;
		height: 15px;
		background: #1553da;
		border-radius: 50%;
	}
	
	#channel-list li div{
		flex: 0.07;
	}
	
	#channel-list li .chanName{
		flex: 0.7;
	}


.messages li{
	display: block;
	clear: both;
	overflow: hidden;
}	
	
	.messages li:nth-child(odd){
		background: none;
	}
	
	.messages li .messageinfo{
		padding-left: 0.7em;	
	}
	
	.messages li a{
		overflow-wrap: anywhere;
	}
	
		.messages li .messageinfo.hidden{
			display: none;
		}
	
	.messages li .time{
		font-size: 10px;
		color: #666;
		display: inline-block;
	}
	
	.messages li .userspeaking{
		font-size: 11px;
		color: #5588ff;
		display: inline-block;
		margin-right: 0.5em;
	}
	
	.messages li .message{
		float: left;
		padding: 5px 12px 6px;
		background: rgba(255,255,255,0.1);
		background: rgba(255,255,255,0.1);
		border-radius: 16px;
		max-width: 80%;
        margin: 0 0 2px 0;
        overflow-wrap: anywhere;
	}
	
	.messages li.mine{
		text-align: right;
	}		
	
	.messages li.mine .message{
		float: right;
		background: #1d4cba;		 
	}
	
		
	.messages li.ishost{
		opacity: 0.7;
	}		
	
	.messages li.ishost .message{
		background: #222a3e;
	}
	
	.messages li.talkingabout .message{
		background: #6737b3;		 
	}
	
	.messages li.winner .message{
		background: #13d68b;		 
	}
	
	.messages li.vote .message{
		background: #d71327;		 
	}
		
	.messages li.hidemessage{
		display: none;
	}
	
	.messages li.offline .message{
		background: #791919; 
		cursor: pointer;
	}
	
	.messages li.offline .message:before{
		content: 'unsent: ';
	}

	
#main .flag-icon{
	position: relative;
    top: 3px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 0.3em 0 -0.3em;
    width: 1.3em;
    height: 1.3em;
    flex: inherit;
}

.channelchat,
.userchat{
	display: none;
}
	
	.userchat.active{
		display: block;
	}
	
	.channelchat.active{
		display: flex;
	    height: 100%;
	}
	
	.channelchat .channelusers{
		padding: 30px 15px;
		width: 22%;
		background: #181b21;
	}
	
		.channelchat .channelusers li{
			display: flex;
			padding: 5px 0;
		}
		
			.channelchat .channelusers li div{
				flex: 0.1;
			}
			.channelchat .channelusers li .name{
				flex: 0.6;
			}
			
			.channelchat .channelusers li .country,
			.channelchat .channelusers li .away,
			.channelchat .channelusers li .admin,
			.channelchat .channelusers li .bot,
			.channelchat .channelusers li .trueskill{
				display: none;
			}
	
	.channelchat .right{
		position: relative;
		width: 78%;
	}
	
	
	.channelchat .actions,
	.userchat .actions{
		position: relative;
		width: 100%;
		display: flex;
		justify-content: center;
		padding: 5px;
	}
	
	.channelchat .actions .clearchannel,
	.channelchat .actions .closewin,
	.userchat .actions .deletechat,
	.userchat .actions .clearchat,
	.userchat .actions .closewin{
		background: #474a5a;
		border-radius: 30px;		
		padding: 4px 15px;
		font-size: 11px;
		margin: 0 5px;
		cursor: pointer;
	}


	#channellist .left,
	#chatlist .left{
		width: 45%;
		height: 100%;
	}
	
	#channels,
	#chats{
	    width: 55%;
	    position: absolute;
	    top: 0;
	    right: 0;
	    height: 100%;
	    background: #1d2229;
	}

#channellist{

}	
	
	#chat-list{
		padding: 1em;
	}


#activechats{
	position: absolute;
	width: 130px;
	right: 0;
	height: 100%;	
	background: #111213;
	overflow: auto;
	font-size: 12px;    
}	

	#activechats .buttons{
		display: flex;
	    flex-direction: column;	  
	    height: auto;  
	}
	
	#activechats .userpm-select{
		text-decoration: none;
	    display: flex;
	    padding: 0.3em 1em;
	    margin: 0.5em;
	    cursor: pointer;
	    background: #223;
	    border-radius: 30px;
	    overflow: hidden;
	    position: relative;
	    border: 1px solid #223;
	}
	
		#activechats .userpm-select:before{
		    content: '';
		    position: absolute;
		    width: 6px;
		    height: 6px;
		    border-radius: 50%;
		    background: #aaa;
		    z-index: 1;
		    top: 10px;
		    left: 3px;
		}
		
		#activechats .userpm-select.online:before{
			background: #004dff;			
		}
		
		#activechats .userpm-select .unread{
		    content: '';
		    position: absolute;
	        padding: 0.1em 0.5em;
		    border-radius: 15px;
		    background: #1553da;
		    z-index: 1;
		    top: 5px;
		    right: 3px;
		    z-index: 3;
		    font-size: 10px;
		    line-height: 1.4em;
		    text-align: center;
		}
		
		#activechats .userpm-select .unread:empty{
			display: none;
		}
	
	#activechats .userpm-select:hover,
	#activechats .userpm-select.active{
		border: 1px solid #5588ff;
	}

	
#replaylist{
	display: flex;	
    flex-wrap: wrap-reverse;
	margin: 1%;
}

#replaylist .replayitem{
	width: 24%;
	margin: 0.5%;
	padding: 1%;
	background: #33383e;
	font-size: 12px;
	cursor: alias;
	position: relative;
	display: flex;
}
	
	.replayitem .infos{
		flex: 0.7;
	}
	
	.replayitem .minimap{
		flex: 0.3; 
	}
	
		.replayitem .minimap img{
			width: 100%;
			height: auto;
		}
		
		
#prefs{
	display: flex;			
}

#prefs .column{
	flex: 1;
	padding: 2em;
}

#prefs .column .section{
	margin-bottom: 1em;
}

#prefs .column .line{
	padding: 1em 0;
}

#prefs .section-title{
	text-transform: uppercase;
	font-size: 0.8em;
}

#prefs button{
    font-size: 0.8em;
	margin-right: 1em;
}
	