/* 
	blue: #1d4cba
	blue text: #5588ff 
	blue button: #1553da
*/
@font-face {
  font-family: Lato;
  src: url(../fonts/Lato-Regular.ttf);
  font-weight: normal;
}
@font-face {
  font-family: LatoBold;
  src: url(../fonts/Lato-Bold.ttf);
  font-weight: bold;
}

* {
	margin:0;
	padding:0;
	box-sizing:border-box;
}

body {
	font: 13px Lato, Helvetica, Arial;
	line-height: 1.5em;	
	color: #ddd;
	-webkit-font-smoothing: subpixel-antialiased;
	background: #111418;
}

body.lightmode{
	background: #d6d6d6;
	color: #111;
}

a{
	color: #2996d8;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1b1e23;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #50607b;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* width */
body.lightmode ::-webkit-scrollbar {
  width: 6px;
}

/* Track */
body.lightmode ::-webkit-scrollbar-track {
  background: #eee;
}

/* Handle */
body.lightmode ::-webkit-scrollbar-thumb {
  background: #bbb;
}

/* Handle on hover */
body.lightmode ::-webkit-scrollbar-thumb:hover {
  background: #ccc;
}

#main{
	position: fixed;
	width: 100%;
	height: calc(100% - 30px);
	top:0;
	left:0;		
	margin-top: 30px;
	display: flex;
	background: #24282f;
}

	body.lightmode #main{
		background: #eee;
		border-top: 1px solid #bbb;
	}

	#topbar{
	    position: fixed;
	    top: 0;
	    left: 120px;
	    display: flex;
	    justify-content: flex-end;
	    width: calc(100% - 120px);	    
	    -webkit-app-region: drag;
	    -webkit-app-select: none;
        z-index: 9999;
	}
	
		body.lightmode #topbar{
			background: #d6d6d6;
		}
		
		#topbar .left,
		#topbar .middle,
		#topbar .right{
			display: flex;			
		}
		
		#topbar .status{
		    background-color: #848484;
		    margin: 10px 3px;
		    border-radius: 50%;
		    width: 10px;
		    height: 10px;
		    position: relative;
		}
		
		.socketlive #topbar .status{
			background-color: #1553da;	
		}
		
		#topbar #appUpdate,
		#topbar #appVersion,
		#topbar #myusername{
			color: #6e7486;
			padding: 5px 10px;
			font-family: LatoBold;
		}
		
		#topbar #appUpdate{
			background: #1553da;
			margin: 4px 20px 4px 10px;
			padding: 2px 10px;
			color: #fff;
			border-radius: 5px;
			cursor: pointer;
		}
		
		#topbar #appUpdate:empty{
			display: none;
		}
		
		body.lightmode #topbar #appUpdate,
		body.lightmode #topbar #appVersion,
		body.lightmode #topbar #myusername{
			color: #111;			
		}
		
	.lmenu{
		position: relative;
		left:0;
		top:0;
		height: calc(100vh - 30px);
		width: 120px;
		background: #111418;
	    padding: 20px 10px;
		border-right: 1px solid #111418;
	}
	
		body.lightmode .lmenu{
			background: #d6d6d6;
			border-right: 1px solid #bbb;
		}
	
		.lmenu .tab{
			text-align: center;
			padding: 38px 10px 10px;
			margin: 17px 0;
			font-family: LatoBold;
			text-transform: uppercase;
			font-size: 11px;
			cursor: pointer;
			position: relative;
		}
		
		.lmenu .tab .status,
		.lmenu .tab .count{
			font-size: 9px;
			position: absolute;
			top: 0;
			right: 0;			
			padding: 1px 5px;
		    line-height: 1.5em;
			border-radius: 50%;
			background: #333;
		}
		
		body.lightmode .lmenu .tab .status,
		body.lightmode .lmenu .tab .count{
			background: #ddd;
		}
		
		.lmenu .tab .count:empty{
			display: none;
		}
		
		.lmenu .tab .status{
			width: 12px;
			height: 12px;
		}
		
		.lmenu .tab .status.active{						
			background: #1d4cba;
		}		
		
		.lmenu .tab .status.active:before{
			content:'';						
			position: absolute;
			top: 50%;
			left: 50%;
			width: 12px;
			height: 12px;
		    margin: -6px 0 0 -6px;			
			border-radius: 50%;
			background: #1d4cba;
			opacity: 0.5;
			animation: pulse 1s ease-in-out 5 alternate;
	        -webkit-animation: pulse 1s ease-in-out 5 alternate;
		}
		
		@keyframes pulse {
	        0% {
	            transform: scale(1.0);
	            -webkit-transform: scale(1.0);
	        }
	        100% {
	            transform: scale(2.0);
	            -webkit-transform: scale(2.0);
	        }
	    }
	    
	    .tab.battleroom{
		    opacity: 0.5;
	    }
	    
	    .inbattleroom .tab.battleroom{
		    opacity: 1;
	    }
	
	#videocontainer{
		position: absolute;	
		min-width: 100%;
		min-height: 100vh;
		z-index: -1;
	}
	
		#videocontainer:after{
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			background: rgba(0,0,0,0.6);
		}		
		
		body.lightmode #videocontainer:after{
			background: rgba(255,255,255,0.2);
		}
		
			
	#bademovideo {
	  position: absolute;	  
	  top: 0px;
	  left: -10px;
	  min-width: 100%;
	  min-height: 100vh;
	  z-index: -1;
	  overflow: hidden;
	}

	.container{
		position: absolute;
		width: calc(100% - 250px);		
		height: 100%;
		top: 0;
		left: 120px;		
		display: none;			
	}
	
		.container.active{
			display: block;	
		}
		
	.backdark{
		background: #292b33;
	}
	
	body.lightmode .backdark{
		background: #eee;
	}	
	
	.container .title{
	    position: fixed;
	    height: 30px;
	    top: 0;
        left: 120px;
	    width: calc(100% - 120px);
	    text-align: center;
	    text-transform: uppercase;
	    font-family: LatoBold;
	    color: #aaa;
	    font-size: 0.9em;
	    padding: 0.4em;
	    pointer-events: none;
		background: #111418;
	}
	
	body.lightmode .container .title{		
		color: #111;
		background: #d6d6d6;
	}
	
	.container .account{
		position: relative;
		width: 100%;
		height: 100%;
	    overflow: auto;
	}
	
		.center-win{						
			position: absolute;
			top: 49.9%;
			left: 49.9%;
			-webkit-transform: translate(-50.1%, -50.1%);
			transform: translate(-50.1%, -50.1%);
		}
		
		.account .pane{
			background: #32343b;
			padding: 30px;
			border-radius: 3px;
			display: none;
		}
		
			body.lightmode .account .pane{
				background: #d0d2da;
			}
			
			.account .pane.active{
				display: block;
			}
			
			.account .panetitle{
				text-align: center;
				font-size: 0.9em;
			}
		
		.account .line{
			margin-top:20px;
		}
		
		#loginmessage{
			color: red;
		}
		
			#loginmessage:empty{
				display: none;
			}
		
		.account .center{
			display: flex;
			justify-content: center;
		}					
		
		.account label{
			padding: 0.5em 0;
			color: #777;
		}
		
		.appicon{
			background: url(../icons/icon.png);
			background-size: cover;
		    width: 80px;
		    height: 80px;
		    margin: 20px;
		}
		
		.account .nav .btn{
			display: block;
			color: #999;
			text-align: center;
			padding: 1em;
			cursor: pointer;
		}
		
		body.lightmode .account .nav .btn{			
			color: #fff;
		}
		
		.account .nav .btn.active{
			display: none;
		}
		
		#serverhosts{
			display: flex;
		}
		
			.serverhosturl{
				opacity: 0.5;	
				margin: 6px;
			}
			
			.serverhosturl.active{
				opacity: 1;	
			}				
			
			.sys-status{
				padding: 1em 1em 0em 2em;
				position: relative;	
			}
			
			.sys-status:empty{
				display: none;
			}
			
			.sys-status:before{
				content: '';
				position: absolute;
				top: 1.1em;
				left: 0;
				width: 15px;
				height: 15px;
				background: #bbbbbb;
				border-radius: 50%;
			}
			
			.sys-status.active:before{
				background: #1553da;
			}
				
		.additional-nav{
			padding: 1em;
		}
		
		.additional-nav button{
			margin: 1em;
		}
			
	
	.text-scroll{
		width: 100%;
		height: 100%;
	    overflow-x: hidden;
		overflow: auto;
	    position: relative;
	}
	
	.text-scroll .messages{
		position: relative;
		width: 100%;
		bottom: 0;
		left: 0;
	    padding: 1em;
	}
	
	.userchat{
		height: 100%;		
	}
	
	.userchat .text-scroll{
		height: calc(100% - 100px);
	}
	
	.bottom-input {
		padding: 6px;
		position: absolute;
		bottom: 0;
		width: 100%;
		background: #212832;
	}
	
	body.lightmode .bottom-input{
		background: #ddd;
		border-top: 1px solid #bbb;
	}
	
	#chats .bottom-input {
		width: 100%;
	}
	
	
	.emojibtn{
		position: absolute;
		right: 14px;
		top: 14px;
		font-size: 1.6em;	
		display: none;
	}
	
	body.emoji .emojibtn{
		display: block;
	}
	
	
#chatlist .split{
	display: flex;
    height: 100%;
}

#chatlist .split .left{
	width: 60%;
}

#chatlist .split .right{
	width: 36%;
	margin-left: 4%;
}

button {
    background: #1553da;
    border: none;
    padding: 1em 1.5em;
    color: #eee;
    border-radius: 25px;
    font-family: LatoBold;
    text-transform: uppercase;
    font-size: 12px;
    cursor: pointer;
	border: 1px solid #1553da;
	opacity: 1;
}

button.inactive{
	opacity: 0.2;
}

button.command{	
	font-size: 11px;
	border-radius: 3px;
	padding: 0.7em 1.2em;
	background: #202427;
	border: 1px solid #202427;
}

body.lightmode button.command{	
	background: #eee;
	border: 1px solid #111;
	color: #111;
}

button.gray{
	background: #4e5e80;
	border: 1px solid #4e5e80;
}	

button.red{
	background: red;
	border: 1px solid red;
}	

body.lightmode button.gray {
	background: #c3c9d4;	
	color: #111;
}

input[type=password], 
input[type=text]{
	border: 1px solid #3b5fb3;
	padding: 0.8em 1.2em 0.8em 1.2em;
	width: 100%;
	margin-right: .5%;
	background: #11151a;
	color: #fff;	
	border-radius: 20px;
}

input.userchat_input,
input.battleroom_input{
	padding: 10px 3em 10px 1.2em;
}

body.lightmode input[type=password], 
body.lightmode input[type=text]{
	border: 1px solid #333;
	background: #eee;
	color: #111;
}

.battleroom_input{
	padding-right: 80px;	
}

button:focus,
input:focus {
    outline: none !important;
    border: 1px solid #004eff;
}

li{
	cursor:pointer;
}

ul.list {	
	list-style-type:none;
	margin:0;	
	padding:0;
	overflow: auto;
}

	.list li {
		padding: 0.25em 10px;
		display: flex;
		cursor: default;
	}
	
	.list li:nth-child(odd) {
		background: rgba(255,255,255,0.02);
	}



#battle-list li .passworded,
#battle-list li .maxPlayers,
#battle-list li .status{
	flex: 0.2;	
}

#battle-list li .gameName,
#battle-list li .title,
#battle-list li .map{
	flex: 0.7;
	max-width: none;
}

#chat-list li .name{
	flex: 0.4;
	max-width: none;
}
		
	#chat-list li .userID{
		flex: 0.2;
	}

	#chat-list li div{
		flex: 0.07;
		max-width: 32px;		
	}
	
	#chat-list li .lobbyID,
	#chat-list li .cpu{
		display: none;
	}

#battle-list li .engine,
#battle-list li .username{
	flex: 0.6;
}

#battle-list{
	display: flex;
	flex-wrap: wrap;	
	margin: 1%;
}

	#gamefilter{
		position: absolute;
		top: 20px;
		right: 20px;
	}
	
	.battle-card{
		width: 49.4%;
		margin: 0.3%;
		padding: 1%;
		background: #101113;		
		font-size: 12px;
		cursor: alias;
		position: relative;
	}
	
	body.lightmode .battle-card{
		background: #e0e0e0;
		border: 1px solid #bbb;
		color: #111;
	}	
	
	.battle-card.activebattle:after,
	.battle-card:hover:after{		
		content: '';
		position: absolute;
		top:0;
		left: 0;
		width: 4px;
		height: 100%;
		background: #1d4cba;
	}
	
		.battle-card .meta{
			display: flex;
			justify-content: space-between;
			font-size: 11px;
			font-family: LatoBold;			
		}
		
/*
		.battle-card .meta .ip,
		.battle-card .meta .port,
		.battle-card .meta .maphash{
			display: none;
		}
*/
		
		.battle-card .header{
			display: flex;
		}
		
		.battle-card .minimap{
			width: 220px;
			height: 220px;
			background: #000;	
			position: relative;			
		}
		
		body.lightmode .battle-card .minimap{			
			background: #bbb;
		}
		
		.battle-card .minimap:before{
			content: 'loading...';
			font-size: 10px;
			position: absolute;
			width: 30px;
			height: 30px;
			/* background: url(../svg/loading.svg); */
			top: 50%;
			left: 50%;
			background-size: cover;
			transform: translate3d(-50%, -50%, 0);
		}
		
		/* .battle-card .minimap:before svg path,
		.battle-card .minimap:before svg rect{
		  fill: #FF6700;
		} */
		
		.battle-card .minimap img{			
			position: relative;
			top: 50%;
			left: 50%;
			transform: translate3d(-50%,-50%,0);
			max-width: 220px;
			max-height: 220px;			
		}
		
		.battle-card .header .infos{
			flex: 1;
			max-width: calc(100% - 220px);
			padding-right: 1.5em;
		}
			
			.battle-card .battletitle{
				text-align: left;
				padding: 1em 0;
				font-family: LatoBold;
				font-size: 14px;
			}
								
			.battle-card .meta2{
				display: flex;
				justify-content: space-between;
				flex-wrap: wrap;				
				padding: 0;
			}
			
				.battle-card .meta2 div{
					width: 50%;
				}
		
		.battle-card .playerlist{
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;			
		    margin: -80px 0 0 0;
			padding: 0;			
			width: calc(100% - 220px);			
		}
		
			.battle-card .playerlist:empty{
			    display:none;
			}
		
			.battle-card .playerlist li{
				width: 50%;
				padding: 0.25em 0;
			}
			
			.battle-card .playerlist li:nth-child(odd){
				background: none;
			}
			
						
		#battle-right-info .title,
		#battleroom .battleid,
		#battleroom .port,
		#battleroom .maphash,
		#battleroom .hashCode,
		#battleroom .channelName,
		#battleroom .ip,
		.battle-card .battleid,
		.battle-card .port,
		.battle-card .maphash,
		.battle-card .ip,
		.battle-card .playerlist li .trueskill,
		.battle-card .playerlist li .country,
		.battle-card .playerlist li .userID,
		.battle-card .playerlist li .lobbyID,
		.battle-card .playerlist li .cpu,
		.battle-card .playerlist li .admin,
		.battle-card .playerlist li .away,			
		.battle-card .playerlist li .bot{
			display: none;
		}

#battleroom{
	position: relative;
	left: 0;	
}

	#battleroom .left{
	    position: relative;
		width: 	55%;
		height: 100%;
	}	
	
	#battleroom .minimaps{
		width: 100%;
	    height: 400px;
		min-height: 50px;			    
	    position: relative;
	    text-align: center;
	    margin: 0 auto;
	}
	
	#battle-metalmap,
	#battle-heightmap,
	#battle-minimap{
	    width: 100%;
	    height: 100%;
	    background: #000;
	    position: relative;	    
	}
	
	
	body.lightmode #battle-metalmap,
	body.lightmode #battle-heightmap,
	body.lightmode #battle-minimap{
		width: 100%;
		height: 100%;
		background: #bbb;
	}
				
		
		#battleroom .minimaps .startbox{
			position: absolute;
			background: rgba(255, 63, 63, 0.3);
			display: none;
			border: 2px solid rgba(255, 63, 63, 0.3);	
		}	
		
		#battleroom .minimaps .startbox.box1{
			background: rgba(63, 63, 255, 0.3);
			border: 2px solid rgba(63, 63, 255, 0.3);	
		}
		
		#battleroom .minimaps .startbox.box0:before,
		#battleroom .minimaps .startbox.box1:before{
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate3d(-50%, -50%, 0);
			width: 20px;
			height: 20px;
			border-radius: 50%;
			background: #232332;
			font-size: 0.8em;						
		}
		
		#battleroom .minimaps .startbox.box0:before{
			content: '1';
		}
		#battleroom .minimaps .startbox.box1:before{
			content: '2';
		}
		
		#battleroom .minimaps .startbox.box0:hover{
			border: 2px solid rgba(255, 63, 63, 1);
		}
		
		#battleroom .minimaps .startbox.box1:hover{
			border: 2px solid rgba(63, 63, 255, 1);
		}
		
		#battleroom .minimaps .startpos{
			position: absolute;
			z-index: 1;
			font-size: 10px;			
			transform: translate3d(-50%,-50%,0);
			display: none;
		}
		
		#battleroom .minimaps .startpos:before{
			content: '';
			background: #111;
			width: 16px;
			height: 16px;
			border-radius: 50%;
			position:absolute;
			top: 50%;
			left: 50%;
			transform: translate3d(-50%,-50%,0);
			z-index: -1;
		}
		
		#battleroom .minimaps.choose_before > .startbox,
		#battleroom .minimaps.choose_ingame > .startbox,
		#battleroom .minimaps.random > .startpos,
		#battleroom .minimaps.fixed > .startpos{
			display: block;
		}				
	
		#battle-metalmap img,
		#battle-heightmap img,
		#battle-minimap img{
			height: 100%;
			width: 100%;
		}
	
	.othermaps{
		width: 100%;
	    height: 200px;
	    background: #000;
	    position: relative;
	    text-align: center;
		display: flex;
	}
	
	.othermaps .mapdiv{
		flex: 0.5;
		height: 100%;
		padding: 0.5em;
	}	
	
	.othermaps .mapdiv img{
		height: 100%;
		width: auto;
	    max-width: 100%;
	}
	
	.battle-main-info{
		width: 100%;
		padding: 0 1em 1em 1em;
		font-size: 13px;
	}
	
		.battle-main-info .meta{
			display: flex;
			justify-content: space-between;
			font-size: 12px;
			font-family: LatoBold;
			color: #ccc;
		}
		
		.battle-main-info .meta2{
			display: flex;
			justify-content: space-between;			
			color: #ccc;
			margin: 3px 0 0 0;
			flex-wrap: wrap;
		}
		
		body.lightmode .battle-main-info .meta,
		body.lightmode .battle-main-info .meta2{			
			color: #111;
		}
		
		.battle-main-info .meta2 div{
			width: 33%;
		}
		
		.battle-main-info .meta2 .founder{
			display: none;
		}
		
		.engine-download,
		.game-download,
		.map-download{
			display: none;
			position: relative;
		}
		
		.engine-download{
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;	
		}
		
		.engine-download .download-title,
		.game-download .download-title,
		.map-download .download-title{
			padding: 1em 0;
		}
		
		.engine-download.downloading,
		.game-download.downloading,
		.map-download.downloading{
			display: block;
		}
		
		.engine-download .progress,
		.game-download .progress,
		.map-download .progress{
			position: absolute;
			content: '';
			top:0;
			left: 0;
			width: 0;
			height: 4px;
			background: #1d4cba;
			transition: width 1s;			
		}
		
		.engine-download .progress{
			top: inherit;
			bottom: 0;
		}
	
	.battle-players{
		display: flex;				
		height: calc(50vh - 75px);
		overflow: auto;
		position: relative;		
	}
	
		.battle-players .battle-speclist,
		.battle-players .battle-playerlist{
			width: 55%;
			display: flex;
		    flex-direction: column;
		}
			
			.teams .battle-playerlist .team-group{
				margin-top: 20px;
				position: relative;
				display: flex;
			    flex-direction: column;
			}
			
			.teams .battle-playerlist .team-group:before{
				content: attr(data-label);
			    position: absolute;
			    top: -16px;
			    left: 16px;
			    font-size: 9px;
			    background: #424e65;
			    border-radius: 3px;
			    padding: 0 4px;
			    letter-spacing: 0.1em;
			    line-height: 1.7em;
			}
			
			body.lightmode .teams .battle-playerlist .team-group:before{
				background: #c4c8d0;
			}
			
			.battle-playerlist .team-group:empty{
				display: none;
			}
			
			.teams .battle-playerlist .ally{
				display: none;
			}	
		
		.battle-players .battle-speclist{
			width: 45%;
		}
		
		.battle-players li{
			justify-content: space-between;
			position: relative;
		    padding: 0.1em 1em;		    
		}			
			
				.battle-players .battle-playerlist li{
					padding: 0.1em 1em 0.1em 2em;		    		
				}			
			
			.battle-players li:nth-child(odd) {
				background: none;
			}
			
			.battle-players li.me .name:before{
				content: '';
				position: absolute;
				background: rgba(101, 137, 218, 0.2);
				width: 100%;
				height: 100%;
				top: -2px;
				left: -8px;
				border-radius: 20px;
			}
		
			#battleroom[data-battlesize="big"] .battle-players li{
				font-size: 12px;
				line-height: 1.2em;
			}
			
			#battleroom[data-battlesize="verybig"] .battle-players li{
				font-size: 11.5px;
				line-height: 1.1em;
			}
			
			#battleroom[data-battlesize="huge"] .battle-players li{
				font-size: 11px;
				line-height: 1em;
			}
		
		.battle-players li .name{
		    position: relative;
		    top: 2px;	
		}
		
		.battle-playerlist li div{
			flex: 0.059;
		}
		
		.battle-playerlist li .name{
			flex: 0.35;	
		}
		
		.battle-speclist li div{
			flex: 0.083;
		}
		
		.battle-speclist li .name{
			flex: 0.5;	
		}
		
		.battle-players li .team{
			flex: 0.05;
		}
		
		.battle-players li .trueskill,
		.battle-players li .team,
		.battle-players li .ally{
			position: relative;
		}
		
		.battle-players li .trueskill:before{
			content: 'TS';
			position: absolute;
		    top: -1em;
		    left: -1.3em;
		    font-size: 7px;			
		}
		
		.battle-players li .bonus,
		.battle-players li .trueskill,
		.battle-players li .ally,
		.battle-players li .team{
			font-size: 11px;
		}
		
		.battle-players li .ally:before{
			content: '';
			position: absolute;
		    top: -0.1em;
		    left: -0.5em;
			border-radius: 50%;
			z-index: -1;
			width: 18px;
			height: 18px;
		}
		
		.battle-players li .team:before{
			content: 'ID';
			position: absolute;
			top: -1em;
			left: -1.3em;
			font-size: 7px;			
		}
		/* .battle-players li .ally:after{
			content: 'TEAM';
			position: absolute;
			top: -1em;
			left: -1.3em;
			font-size: 7px;			
		} */
		
		.battle-players li .ally.ally-1:before,
		.battle-players li .ally.ally-3:before,
		.battle-players li .ally.ally-5:before,
		.battle-players li .ally.ally-7:before,
		.battle-players li .ally.ally-9:before,
		.battle-players li .ally.ally-11:before,
		.battle-players li .ally.ally-13:before,
		.battle-players li .ally.ally-15:before,
		.battle-players li .ally.ally-17:before{
		    background: #5f647e;
	    }
	    
	    .battle-players li .ally.ally-2:before,
	    .battle-players li .ally.ally-4:before,
	    .battle-players li .ally.ally-6:before,
	    .battle-players li .ally.ally-8:before,
	    .battle-players li .ally.ally-10:before,
	    .battle-players li .ally.ally-12:before,
	    .battle-players li .ally.ally-14:before,
	    .battle-players li .ally.ally-16:before,
	    .battle-players li .ally.ally-18:before{
		    background: #2e54ab;
	    }
	    
	    .battle-players li .icon-user,
		.battle-players li .faction,
		.battle-players li .color{
			cursor: pointer;
		}
		
	    .battle-players li .color{
		    width: 18px;
		    height: 18px;
		    border-radius: 20px;
	        flex: inherit;
	        border: 2px solid #4a5173;
			position: relative;
			overflow: visible;
	    }
		
/*
		.battle-players li .ally:empty{
			
		}
*/
		
		
		.battle-players li .country,
		.battle-players li .admin{
			display: none;
		}
		
		.battle-players .battle-speclist li .color,
		.battle-players .battle-speclist li .ally,
		.battle-players .battle-speclist li .team,
		.battle-players .battle-speclist li .bonus,
		.battle-players .battle-speclist li .faction{
			display: none;
		}
		
		.battle-players .userwin{
			display: none;
			position: absolute;
			top: 30px;
			left: 20px;
			background: #12171d;
			border-radius: 6px;
			padding: 1em;
			z-index: 9;
		}
		
			.battle-players .userwin.active{
				display: block;
			}
			
			.battle-players .userwin .title{
				font-size: 12px;
			}
			
			.userwin .usercommands{
				display: flex;
			    margin: 0 0 1em 0;
			    justify-content: center;
			}
			
				.userwin .usercommand{
					padding: 4px 6px;
					border-radius: 15px;
					margin: 0 5px;
					cursor: pointer;
					background: #434851;
					font-size: 12px;
				}
				.userwin .unmuteuser,
				.userwin .muteuser{
					padding: 4px 6px;
					border-radius: 15px;
					margin: 0 5px;
					cursor: pointer;
					background: #434851;
					font-size: 12px;
				}
				
				.userwin .unmuteuser{
					background: red;
				}
		
	#battlelabels{
		position: absolute;
		top: -30px;
		left: 0; 
		padding: 5px;
	}
		#battlelabels .labels:empty{
		    display:none;
		}
	
		#battlelabels .labels{
		    background: #1553da;
		    padding: 0em 0.6em;
		    border-radius: 3px;
		    font-size: 10px;
		    font-family: LatoBold;
		    display: inline-block;
		    margin: 0 0 0 10px;
		}
		
		body.lightmode #battlelabels .labels{
			color: #fff;
		}
		
	
	#battleroom .text-scroll {
		width: 100%;
    	height: 50vh;
	    background: #1b1e23;
	    
	}
	
	body.lightmode #battleroom .text-scroll{
		background: #eee;
		border-top: 1px solid #bbb;
	}
		
	.btn{		
		font-size: 11px;
		border-radius: 3px;
		padding: 0.7em 1.2em;
		background: #202427;
		cursor: pointer;
		z-index: 99;
		color: #fff;
		display: inline-block;
		margin: 0.5em;
	}
	
	.pickmapclose{
		position: fixed;	
		bottom: inherit;
		top: 4em;		
		right: 150px;
	}
	
	.splitmenu{
		display: inline-flex;
		position: relative;
		top: 10px;
	}	
	
		.splitmenu .split.btn{
			width: 30px;
			height: 30px;
			position: relative;
			overflow: hidden;
		}	
		
			.splitmenu .split:before{
				content: '';
				position: absolute;		
				background: rgba(255, 63, 63, 0.8);		
			}
			
			.splitmenu .split:after{
				content: '';
				position: absolute;	
				background: rgba(63, 63, 255, 0.8);
			}	
			
			.splitmenu .split.v:before{
				width: 25%;
				height: 100%;
				left:0;
				top:0;	
			}
			.splitmenu .split.v:after{
				width: 25%;
				height: 100%;
				right:0;
				top:0;		
			}
			
			.splitmenu .split.h:before{
				height: 25%;
				width: 100%;
				left:0;
				top:0;	
			}
			.splitmenu .split.h:after{
				height: 25%;
				width: 100%;
				bottom: 0;
				left: 0;	
			}
			
			.splitmenu .split.c1:before{
				height: 35%;
				width: 35%;
				left:0;
				top:0;	
			}
			.splitmenu .split.c1:after{
				height: 35%;
				width: 35%;
				bottom: 0;
				right: 0;	
			}
			
			.splitmenu .split.c2:after{
				height: 35%;
				width: 35%;
				right:0;
				top:0;	
			}
			.splitmenu .split.c2:before{
				height: 35%;
				width: 35%;
				bottom: 0;
				left: 0;	
			}
			
	
	.scroll.mappicker{
		display: none;	
		background: #111;
		position: absolute;
		z-index: 99;
		top:0;
		left: 0;
		width: 100%;
		padding-top: 1em;
	}
	
		body.lightmode .scroll.mappicker{				
			background: #eee;			
		}				
	
		.mappicker.active{
			display: block;
		}
		
		.scroll.mappicker .filters{
			padding: 0.5em;
		}
		
		.scroll.mappicker .filters .line{
			display: flex;
		}
		
		.scroll.mappicker .filters .filter{
			text-transform: uppercase;
			margin: 0.3em;
			font-size: 10px;
			border-radius: 3px;
			padding: 0.7em 1.2em;
			background: #202427;
			cursor: pointer;
			color: #fff;
		}
		
		.scroll.mappicker .filters .filter.active{
			background: #5588ff;
		}
		
		.mappicker .mapscontainer{
			display: none;
			flex-wrap: wrap;					
		}
		
			.mappicker .mapscontainer.active{
				display: flex;
			}
		
		
		
		.singlecontainer {
			display: flex;
		}
		
		.singlecontainer .right,
		.singlecontainer .left{
			width: 50%;
			height: calc(100vh - 30px);
			position: relative;
			padding: 1em;
		}
		
		.singlecontainer .left{
			text-align: center;
		}
		
			.smapscontainer{
				display: flex;
				flex-wrap: wrap;	
			}
			
			#singleplayer .smallnav{
				margin: 0 auto;
			}
			
			#singleplayer .minimaps{
				margin: 0 auto;
			}
			
			#singleplayer .minimaps img{
				max-width: 100%;
			}
			
			.smapscontainer .map{
				width: 23%;
				margin: 1%;
				background: #202427;
				cursor: pointer;		 
				position: relative;
				text-align: center;
			}

				.smapscontainer .map:before{
					content: attr(data-mapname);
					position: relative;
					background: #202427;
					padding: 0.4em 0.5em;
					width: 100%;			
					font-size: 10px;			
					top: 0;			
				}
		
		.mappicker .map{
			width: 23%;
			margin: 1%;
			background: #202427;
			cursor: pointer;		 
			position: relative;
			text-align: center;
		}
		
		body.lightmode .smapscontainer .map,
		body.lightmode .mappicker .map{
			background: #bbb;
		}
		
		.mappicker .map:before{
			content: attr(data-mapname);
			position: relative;
			
			padding: 0.4em 0.5em;
			width: 100%;			
			font-size: 10px;			
			top: 0;			
		}
		/* .mappicker .map:hover:after{
			display: block;
		} */
		
		.smapscontainer .map .icon-star,
		.mappicker .map .icon-star{
			position: absolute;
			top: 1px;
			left: 1px;
			z-index: 9;
			opacity: 0.5;
			font-size: 15px;
		}
		.smapscontainer .map .icon-star.active,
		.mappicker .map .icon-star.active{			
			opacity: 1;
			color: #5588ff;
		}
		
		.smapscontainer .map .select,
		.smapscontainer .map .delete,
		.mappicker .map .select,
		.mappicker .map .delete{
			position: absolute;
			z-index: 9;
			right: 0.5em;
			font-size: 10px;
			border-radius: 23px;
			padding: 0.2em 1em;
			background: #202427;
			border: 1px solid #3689de;
			display: none;
		}
		
		.smapscontainer .map:hover > .select,
		.smapscontainer .map:hover > .delete,
		.mappicker .map:hover > .select,
		.mappicker .map:hover > .delete{
			display: block;
		}
		
		.smapscontainer .map .select,
		.mappicker .map .select{
			bottom: 0.5em;
		}
		
		.smapscontainer .map .delete,
		.mappicker .map .delete{
			top: 3.5em;			
		}
		
		.smapscontainer .map img,
		.mappicker .map img{
			margin:0 auto;
			display: block;
			width: 100%;
		}
		
		
		
		#singleplayer-minimap img{
			max-height: 600px;
			width: auto;
		}
		
				
/*
	#hostmessages .text-scroll{
		height: calc(100vh - 340px);
	}
*/
		
		#battlechatoptions{
			position: absolute;
		    top: calc(50vh + -67px);
		    right: 6px;
		    color: #ccc;
		    font-size: 12px;
		    z-index: 8;	
			background: #111;
			padding: 10px;
			border-radius: 20px;			
		}
		
		#battlechatoptions .option{
			display: none;
		}
		
		#battlechatoptions:hover > .option{
			display: inline-block;
		}
		
		#battlechatoptions:hover > .label{
			display: none;
		}
		
		#votewin{
	        position: absolute;
		    top: calc(50vh + -67px);
		    right: 6px;
		    color: #ccc;
		    max-width: 300px;
		    z-index: 9;
		    background: #5588ff;
		    padding: 1em 1em 0.5em 1.5em;
		    border-radius: 10px;
		    text-align: center;
			display: none;
		}
		
			#votewin.active{
				display: block;
			}	
		
		.votes{			
			font-size: 20px;
			display: flex;
			justify-content: center;
		}
				
			.votes.active{
				display: flex;
			}
		
			.votes .endvote,
			.votes .vote{
			    background: #000;
			    border-radius: 25px;
			    padding: 2px 0px 2px 13px;
			    margin: 9px 3px;
			    font-size: 0.9em;
			}
			
			.votes .endvote{				
				display: none;
				padding: 2px 10px 2px 10px;
				font-size: 0.5em;
				cursor: pointer;
			}
			
			.votes .endvote:hover,
			.votes .vote:hover{
				background: #1553da;
			}
			
			.votes .icon-thumbs-up-2:before{
				position: relative;
				top: 3px;
			    left: -4px;
			}
			.votes .icon-thumbs-down-2:before{
				position: relative;
				top: 4px;
			    left: -4px;
			}
		
			#votewin.myvote .vote{
				display: none;
			}
			
			#votewin.myvote .endvote{
				display: block;
			}
			
		.voteformap:empty{
			display: none;
		}
		
		.voteformap img{
			width: 100px;
			height: auto;
			margin-top: 1em;
		}
		
		#votecountdown{		
			position: absolute;
			left: 0;
			top: 50%;
			transform: translate3d(-50%,-50%,0);
			border-radius: 50%;
			width: 40px;
			height: 40px;
			background: #1f222d;
			color: #fff;
			font-size: 1.2em;
			padding: 0.5em 0.3em;
			border: 2px solid #1d4cba;
		}	
			
		body.lightmode #votecountdown{
			background: #eee;
			color: #111;
		}	
		
	select {	    
	    color: #fff;
		font-size: 0.9em;
	    border: 2px solid #4a5173;
	    padding: 8px 10px 8px 10px;
    	border-radius: 20px;
		background: transparent;
	}
	
	select option{	    
		color: #666;
	}
	
	body.lightmode select{		
		color: #111;
	}
	
	select:active,
	select:focus{		
		border: 2px solid #4a5173;
		outline: none;
	}
	
	label.pickteam,
	label.pickally{
		color: #aaa;
	}
	
	.scroll{
	    position: relative;
	    height: 100%;
	    overflow: scroll;
	}		
	
	.battle-actions{		
	    position: absolute;
	    bottom: 0;
	    right: 0;
	    width: 100%;		
	    background: #14161b;
	    padding: 0.5em 2em 2em 2em;
	    font-size: 12px;
		z-index: 999;
	}
	
		body.lightmode .battle-actions{					
			background: #eee;
		}
	
		.battle-actions .line{
			display: flex;
			justify-content: space-between;
		    align-items: center;
		    height: 50px;
		}
		
		.ui-label{
			font-size: 11px;
			text-transform: uppercase;
			color: #889;
			padding: 0.5em 0.1em;		
		}
		
		body.lightmode .ui-label{
			color: #111;		
		}
		
		.battle-players .ui-label{
			text-align: center;
		}
		
		.gameboxes .box{
			display: flex;	
		}
		
		.gameboxes input{
			font-size: 0.8em;
			border-radius: 0;
			margin: 1% 1% 1% 0;
			padding: 0.5em;
		}	
		
		.gameboxes label{
			font-size: 0.8em;
			padding: 0.5em;
			margin: 1% 0;
			text-transform: uppercase;
			background: #000;
			white-space: nowrap;
		}
		
		.gameboxes .boxes{
			opacity: 0.1;
		}
		.gameboxes .boxes:hover{
			opacity: 1;
		}
		
		.setboxes-btn{									
			font-size: 11px;
			border-radius: 3px;
			padding: 0.7em 1.2em;
			background: #202427;
			cursor: pointer;
			z-index: 99;
			color: #fff;
			display: inline-block;
		}			
		
		.icon.pickcore,
		.icon.pickarm{
			cursor: pointer;		
	        top: 0px;
		    border: 2px solid #4a5173;
		    padding: 6px 10px 6px 30px;
		    border-radius: 20px;
			display: none;
		}
		
		.icon.pickcore.active,
		.icon.pickarm.active{
			display: block;
		}
		
		.icon.pickcore:before,
		.icon.pickarm:before{
	        position: absolute;
		    top: 5px;
		    left: 8px;
		    font-size: 1.1em;
		}
		
		.colorpicked{
			background-color: #5588ff;
			width: 25px;
			height: 25px;
			border-radius: 50%;
			position: relative;
			margin-right: 50px;
		    border: 2px solid #4a5173;
		    cursor: pointer;
		}
		
		.colorpicker{
			position: absolute;
			display: none;		
			top: 0;
			left: 0;
		    transform: translate3d(-50%, 10%, 0);
		}
		
		.colorpicker.active{
			display: block;
		}
		
		.colorpicked .label{
		    position: absolute;
		    left: 28px;
		    color: #999;
		    top: 2px;
		}
		
		
		

	body .pretty.p-switch.p-fill input:checked~.state:before {
	    border-color: #1553da;
	    background-color: #1553da!important;
	}
	
	body.unspecing #specbattlediv.pretty.p-switch.p-fill .state:before {
		border-color: #fd9b22;		
	}
	
	body.unspecing #specbattlediv.pretty.p-switch .state label:after, 
	body.unspecing #specbattlediv.pretty.p-switch .state label:before{
		background-color: #fd9b22!important;	
	}
	
	.pretty.ready{
		background: #dc3939;
		padding: 1em;
		border-radius: 30px;
		color: #fff;
		font-family: LatoBold;
	}
	
	.pretty.ready.active{
		background: #1c944c;	
	}
	
	
	
	
	#battle-right-info{
		width: 45%;
		position: absolute;
		right: 0;
		top: 0;
		height: 100%;
		background: #171b21;		
		padding: 1em 0.5em 1em 1em;
	}
	
	#battle-right-info .scroll.main{
		overflow: hidden;
		margin-right: 6px;
	}
	
	#battle-right-info .scroll.main:hover{
		margin-right: 0px;
		overflow: auto;
	}
	
	body.lightmode #battle-right-info{
		background: #eee;
		color: #111;
		border-left: 1px solid #ccc;
	}
	
	.smallnav{
		margin-top: 5px;
		display: flex;
	}
	
	.smallnav .navbtn{
	    font-size: 11px;
	    text-transform: uppercase;
	    color: #889;	
	    margin-right: 5px;
	    padding: 2px 5px;
	    background: #1b1e23;
	    cursor: pointer;
	}
	
	body.lightmode .smallnav .navbtn{		
		color: #111;			
		background: #ccc;
	}
	
	.smallnav .navbtn.active{
		color: #1d4cba;
		background: #0b0d0f;
	}
	
	.smalltab{
		display: none;
	}
	
	.smalltab.active{
		display: block;
	}
	
	#battleoptions{
		background: #191d24;
	    padding: 1em;
		opacity: 0.1;
	}
	#battleoptions:hover{
		opacity: 1;
	}
	
	body.lightmode #battleoptions{
		background: #e6e6e6;		
	}
	
	
	#battle-right-info .option{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		color: #777;	
	}
	
		body.lightmode #battle-right-info .option{
			color: #111;	
		}
	
		#battle-right-info .option .name,
		#battle-right-info .option .val{
			width: 50%;
		}	
	
span.upper{
	position: relative;
	top: -0.5em;
	margin: 0 0.3em; 	
	font-size: 0.7em;
	opacity: 0.5;
}

#channel-list{
	display: flex;
	flex-direction: column-reverse;	
}
	
	#channel-list li{
		cursor: alias;
	}
	
	#channel-list li .status{
		position: relative;
	}
	
	#channel-list li .status.active:before{
		content: '';
		position: absolute;
		top: 4px;
		left: 5px;
		width: 15px;
		height: 15px;
		background: #1553da;
		border-radius: 50%;
	}
	
	#channel-list li div{
		flex: 0.07;
	}
	
	#channel-list li .chanName{
		flex: 0.7;
	}


.messages li{
	display: block;
	clear: both;
	overflow: hidden;
}	
	
	.messages li:nth-child(odd){
		background: none;
	}
	
	.messages li .messageinfo{
		padding-left: 0.7em;	
	}
	
	.messages li a{
		overflow-wrap: anywhere;
	}
	
		.messages li .messageinfo.hidden{
			display: none;
		}
	
	.messages li .time{
		font-size: 10px;
		color: #666;
		display: inline-block;
	}
	
	.messages li .userspeaking{
		font-size: 11px;
		color: #5588ff;
		display: inline-block;
		margin-right: 0.5em;
	}
	
	.messages li .message{
		float: left;
		padding: 3px 12px 4px;
		background: rgba(255,255,255,0.1);
		background: rgba(255,255,255,0.1);
		border-radius: 16px;
		max-width: 80%;
        margin: 0 0 2px 0;
        overflow-wrap: anywhere;
	}
	
	.messages li .message.ishost{
		white-space: pre;
		font-family: monospace;
		font-size: 0.75em;
		letter-spacing: -0.5px;
		background: transparent;
	}
	
	body.lightmode .messages li .message{
		background: #ddd;
	}
	
	.messages li.mine{
		text-align: right;
	}		
	
	.messages li.mine .message{
		float: right;
		background: #1d4cba;		 
	}
	
	body.lightmode .messages li.mine .message{
		color: #2971cc;
	}	
		
	.messages li.ishost{
		opacity: 0.7;
	}				
	
	.messages li.ishost .message{
		background: #222a3e;
	}
	
	body.lightmode .messages li.ishost .message{
		background: #c3cfe2;
	}
	
	.messages li.talkingabout .message{
		background: #6737b3;		 
	}
	
	body.lightmode .messages li.talkingabout .message{
		color: #ca29cc;
	}
	
	.messages li.winner .message{
		background: #13d68b;		 
	}
	
	body.lightmode .messages li.winner .message{
		color: #3acc29;
	}
	
	.messages li.vote .message{
		background: #d71327;		 
	}
	
	
	
	
	.messages li.hidemessage{
		display: none;
	}
	
	.messages li.offline .message{
		background: #791919; 
		cursor: pointer;
	}
	
	.messages li.muted .message{
		display: none;
	}
	
	.messages li.muted:hover > .message{
		display: block;
	}
	
	.messages li.muted:hover:after{
		display: none;
	}
	
	.messages li.muted:after{		
		content: '(muted)';
		float: left;
		padding: 5px 12px 6px;
		background: rgba(255, 0, 0, 0.5);
		border-radius: 16px;
		max-width: 80%;
		margin: 0 0 2px 0;
		overflow-wrap: anywhere;
	}
	
	.messages li.offline .message:before{
		content: 'pending: ';
	}

	
#main .flag-icon{
	position: relative;
    top: 3px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 0.3em 0 -0.3em;
    width: 1.3em;
    height: 1.3em;
    flex: inherit;
}

.channelchat,
.userchat{
	display: none;
}
	
	.userchat.active{
		display: block;
	}
	
	.channelchat.active{
		display: flex;
	    height: 100%;
	}
	
	.channelchat .channelusers{
		padding: 30px 15px;
		width: 22%;
		background: #181b21;
	}
		
		body.lightmode .channelchat .channelusers{			
			background: #bbc1c7;
		}
		
		.channelchat .channelusers li{
			display: flex;
			padding: 5px 0;
		}
		
			.channelchat .channelusers li div{
				flex: 0.1;
			}
			.channelchat .channelusers li .name{
				flex: 0.6;
			}
			
			.channelchat .channelusers li .country,
			.channelchat .channelusers li .away,
			.channelchat .channelusers li .admin,
			.channelchat .channelusers li .bot,
			.channelchat .channelusers li .trueskill{
				display: none;
			}
	
	.channelchat .right{
		position: relative;
		width: 78%;
	}
	
	
	.channelchat .actions,
	.userchat .actions{
		position: relative;
		width: 100%;
		display: flex;
		justify-content: center;
		padding: 5px;
		background: #111015;
	}
	
	body.lightmode .channelchat .actions,
	body.lightmode .userchat .actions{
		background: #91949c;
	}
	
	.channelchat .actions .clearchannel,
	.channelchat .actions .closewin,
	.userchat .actions .deletechat,
	.userchat .actions .clearchat,
	.userchat .actions .closewin{
		background: #474a5a;
		border-radius: 30px;		
		padding: 4px 15px;
		font-size: 11px;
		margin: 0 5px;
		cursor: pointer;
	}
	
	body.lightmode .channelchat .actions .clearchannel,
	body.lightmode .channelchat .actions .closewin,
	body.lightmode .userchat .actions .deletechat,
	body.lightmode .userchat .actions .clearchat,
	body.lightmode .userchat .actions .closewin{
		background: #b5b7bf;
	}


	
	
	#start{
		width: calc(100% - 120px);
	}
	
	#chatlist{				
		display: block;
		z-index: -1;
	}
	
	#chatlist.over{
		z-index: 99999;
		pointer-events: none;
	}
	
	#chatlist .title,
	#chatlist .left{
		display: none;
	}
	
	#chatlist.active .title,
	#chatlist.active .left{
		display: block;
	}
	
	#channels,
	#chats{
	    width: 50%;
	    position: absolute;
	    top: 0;
	    right: 0;
	    height: 100%;
	    background: #191c21;		
	}	
	
	#chatlist.over #chats{
		width: 45%;
		pointer-events: all;		
	}
	
	#chatlist.active.over #chats{
		width: 50%;
	}
	
	body.lightmode #channels,
	body.lightmode #chats{
		background: #b3b7bd;
		box-shadow: -2px 0 3px #b3b7bd;
	}
	
	#channellist .left,
	#chatlist .left{
		width: 50%;
		height: 100%;
	}	
	
	#chat-list{
		padding: 1em;
	}


#activechats{
	position: absolute;
	width: 130px;
	right: -130px;
	height: 100%;	
	background: #111213;
	overflow: auto;
	font-size: 12px;    
}	

	body.lightmode #activechats{
		background: #c9cbce;
	}

	#activechats .buttons{
		display: flex;
	    flex-direction: column;	  
	    height: auto;  
	}
	
	#activechats .userpm-select{
		text-decoration: none;
	    display: flex;
	    padding: 0.3em 1em;
	    margin: 0.5em;
	    cursor: pointer;
	    background: #223;
	    border-radius: 30px;
	    overflow: hidden;
	    position: relative;
	    border: 1px solid #223;
	}
	
		body.lightmode #activechats .userpm-select{
			background: #d3d5dc;
			border: 1px solid #929ba7;
		}
	
		#activechats .userpm-select:before{
		    content: '';
		    position: absolute;
		    width: 6px;
		    height: 6px;
		    border-radius: 50%;
		    background: #aaa;
		    z-index: 1;
		    top: 10px;
		    left: 3px;
		}
		
		#activechats .userpm-select.online:before{
			background: #004dff;			
		}
		
		#activechats .userpm-select .unread{
		    content: '';
		    position: absolute;
	        padding: 0.1em 0.5em;
		    border-radius: 15px;
		    background: #1553da;
		    z-index: 1;
		    top: 5px;
		    right: 3px;
		    z-index: 3;
		    font-size: 10px;
		    line-height: 1.4em;
		    text-align: center;
		}
		
		#activechats .userpm-select .unread:empty{
			display: none;
		}
	
	#activechats .userpm-select:hover,
	#activechats .userpm-select.active{
		border: 1px solid #5588ff;
	}

.inline-title{	
	margin: 2em 2em 1em 2em;
	text-transform: uppercase;
	font-size: 0.8em;	
}

#mapfilter{
	display: flex;
	flex-wrap: wrap;
	padding: 1em;
	max-height: 300px;
	overflow: scroll;
}

	#mapfilter .mapfilter{
		cursor: pointer;
		width: 46px;	
		margin: 0.5em;
		border: 2px solid transparent;
	}
	
	#mapfilter .mapfilter.active img{		
		border: 2px solid #1553da;
	}
	
	#mapfilter .mapfilter img{
		width: 100%;
		height: auto;
	}
	
#replaylist{
	display: flex;	
    flex-wrap: wrap-reverse;
	margin: 1%;
}

#replaylist .replayitem{
	width: 24%;
	margin: 0.5%;
	padding: 1%;
	background: #33383e;
	font-size: 12px;
	cursor: alias;
	position: relative;
	display: flex;
}

	body.lightmode #replaylist  .replayitem{
		background: #ccc;
	}
	
	.replayitem .infos{
		flex: 0.7;
	}
	
	.replayitem .minimap{
		flex: 0.3; 
	}
	
		.replayitem .minimap img{
			width: 100%;
			height: auto;
		}
		
		
#prefs{
	display: flex;			
}

#prefs .column{
	flex: 1;
	padding: 2em;
}

#prefs .column .section{
	margin-bottom: 1em;
}

#prefs .column .line{
	padding: 1em 0;
}

#prefs .section-title{
	text-transform: uppercase;
	font-size: 0.8em;
}

#prefs button{
    font-size: 0.8em;
	margin-right: 1em;
}


@media (max-width: 1440px){
	.battle-card{
		width: 99.4%;
	}	
	
	#replaylist .replayitem {
		width: 32%;
	}
}

@media (max-width: 1024px){	
	
	#replaylist .replayitem {
		width: 49%;
	}
}
	